/* All */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h1,h2,h3{
    color: #333;
}
p{
    color: #70747a;
}

/* NavBar */
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav{
    position: relative;
}

.logo{
    width: 50px;
    margin-top: 15px;
}

.navbar-itens{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}
.navbar-itens li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}
.navbar-itens a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-itens a:hover{
    color: #ccc;
}
.default-btn{
    padding: 15px 25px;
    background-color: #2cc76a;
    border-radius: 5px;
    transition: 5s;
}
.default-btn:hover{
    background-color: #22bb5f;
    color: #fff;
}